<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">
      <i class="fa fa-code" aria-hidden="true"></i>
      Welcome to {{title}}, you fok'n noob!
      <i class="fa fa-code" aria-hidden="true"></i>
    </p>
  </div>
</div>
